*{
    padding: 0;
    margin: 0;
}
h2 {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    text-decoration: underline;
    color: blue;
}

.delete { 
    margin-right: 5px;
}
button {
    background-color: green;
    margin-left: 10px;
}
button.delete {
    color: yellow;
    background-color: blue;
    padding: 10px;
    width: 150px;
    height: 50px;
    margin-bottom: 5px;
}
form#create-task {
    margin-top: 25px;
}
.row {
    display: inline-block;
}
body {
    color: indianred;
    font-family: fantasy;
    font-size: 21px;
    background-color: black;
}
input.mark-complete {
    width: 150px;
    height: 30px;
}